/*Base 1440px*/

* {
    box-sizing: border-box;
    font-family: 'Raleway',Verdana, sans-serif
}

a {
    text-decoration: none;
    color: #000
}

h1, h2 {
    font-size: 22px
}

h3 {
    font-size: 16px;
    margin: 3px 0 0 15px
}

h4 {
    font-size: 18px;
    /*margin-bottom: 15px*/
}

p {
    font-size: 16px;
    margin: 0
}

.euro {
    font-weight: 700
}

.fa-solid {
    color: #0065fc
}

ul, li {
    list-style: none
}

body {
    margin: 0 50px
}

/*-----HEADER-----*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 44px 0 0 5px
}

.header-logo {
    width: 61px
}

.nav-link {
    padding: 41px 30px 0
}

.nav-link:hover {
    border-top: 3px solid #0065fc;
    color: #0065fc
}

/*-----RESEARCH-----*/

.research {
    margin: 55px 0 0 5px
}
/*title*/

.title h1 {
    margin-bottom: 0
}

.title p {
    margin-top: 10px
}
/*input*/

.search-bar {
    display: flex;
    margin-top: 20px
}

.fa-location-dot {
    color: #000;
    background-color: #f2f2f2;
    font-size: 18px;
    padding: 15px 16px;
    border: 1px solid #f2f2f2;
    border-radius: 15px 0px 0px 15px
}

#search-input {
    padding: 14px;
    border: 2px solid #f2f2f2
}

#search-input::placeholder {
    color: #000;
    font-size: 18px;
    font-weight: bold
}

.button {
    color: #fff;
    font-size: 18px;
    background-color: #0065fc;
    padding: 14px;
    border: 1px solid #0065fc;
    border-radius: 0 15px 15px 0
}

button:hover {
    cursor: pointer
}

.button-deskop {
    font-weight: bold
}

.button-phone {
    display: none
}
/*filters*/

ul {
    padding-left: 0
}

#filters-content {
    font-weight: bold;
    margin-top: 30px
}

.filters-base {
    width: 80%;
    display: flex;
    align-items: center
}

.filters-title {
    font-size: 16px;
    flex-grow: 0.05;
    margin: 0
}

.filters-flex {
    flex-grow: 0.5;
    display: flex;
    justify-content: space-between
}

.filters {
    display: flex;
    align-items: center;
    border: 2px solid #f2f2f2;
    border-radius: 30px
}

.filters .fa-solid {
    padding: 10px;
    background-color: #deebff;
    border: 1px solid #deebff;
    border-radius: 25px
}

.filters-flex li:nth-child(2) .fa-solid {
    padding: 10px 12px
}

.filters p {
    margin: 0 10px
}

.filters:hover {
    transform: scale(1.2);
    background-color: #f2f2f2
}

.filters:hover .fa-solid {
    transform: rotate(-0.1turn)
}
/*footer*/

.info {
    margin: 35px 0 0 0;
    display: flex;
    align-items: center
}

.fa-info {
    font-size: 10px;
    padding: 5px 8px;
    border: 1px solid #f2f2f2;
    border-radius: 25px;
    margin-right: 10px;
}

/*-----MAIN-----*/

.center {
    margin-top: 37px;
    display: flex;
    justify-content: space-between
}

/* SECTION */

.left-part {
    width: 65%;
    height: fit-content;
    min-width: 580px; /* 992px*/
    background-color: #f2f2f2;
    border-radius: 20px

}

#accommodations {
    width: 90%;
    margin: 42px auto 0
}

#accommodations-gallery-content {
    width: 90%;
    height: 435px;
    margin: 25px auto 0;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between
}

.accommodations-gallery {
    width: 30%;
    height: 45%;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column
}

.accommodations-gallery:hover {
    transform: scale(1.1)
}

.accommodations-gallery-img {
    width: 96%;
    height: 60%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    align-self: center;
    margin-top: 5px
}

.accommodations-gallery p, .align p {
    font-size: 14px;
    margin: 5px 0 0 15px
}

.star {
    font-size: 12px;
    margin: 5px 0 0 15px
}

.view-more {
    margin: 30px auto;
    width: 90%
}

.view-more:hover {
    text-decoration: underline
}

/* ASIDE */

.right-part {
    width: 30%;
    background-color: #f2f2f2;
    border-radius: 20px
}